<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>API Test</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/app.css">
</head>

<body ng-app="MyApp" ng-cloak>
    <md-content ng-controller="MyCtrl">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2 flex md-truncate>This page needs to have CORS enabled.</h2>

                <md-button class="md-raised" target="_blank" ng-href="https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi">
                    Install Allow-Control-Allow-Origin: *
                    <md-tooltip>Needs to have CORS enabled.</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>

        <md-tabs md-dynamic-height="" md-border-bottom="" ng-cloak>
            <md-tab label="data" ng-cloak>
                <md-content layout-padding layout="column">
                    <md-content layout layout-align="center center">
                        <md-button class="md-raised md-primary" flex="80" ng-disabled="userInput.length > 0" ng-click="listProperties()">Load Sample</md-button>
                        <md-button class="md-raised md-primary" flex="80" ng-disabled="!userInput.length > 0" ng-click="queryList(userInput)">Query List</md-button>
                        <md-button class="md-raised md-primary" ng-click="rows = userInput = ''">Reset</md-button>
                    </md-content>
                    <md-content layout-padding>
                        <md-input-container class="md-block" ng-hide="rows.length > 0">
                            <label>Paste comma-delimited list of property ids and hotel names (id, name) or load sample data.</label>
                            <textarea ng-model="userInput" rows="20" md-select-on-focus></textarea>
                        </md-input-container>
                        <table class="table table-sm table-responsive table-striped table-bordered table-hover">
                            <thead class="thead-inverse">
                                <tr>
                                    <th ng-repeat='c in fields'>{{ c | uppercase }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat='r in rows'>
                                    <td ng-repeat='c in fields'>
                                        {{ r[c] }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-content>
                </md-content>
            </md-tab>

            <md-tab label="properties" ng-cloak>
                <md-content layout-padding layout="column">
                    <md-content layout-padding>
                        <div layout-gt-xs="row">
                            <div flex-gt-xs>
                                <h4>Check-In Date</h4>
                                <md-datepicker ng-model="params.check_in"></md-datepicker>
                            </div>
                            <div flex-gt-xs>
                                <h4>Check-Out Date</h4>
                                <md-datepicker ng-model="params.check_out"></md-datepicker>
                            </div>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>API Key</label>
                                <input ng-model="auth.api_key">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Auth Token</label>
                                <input ng-model="auth.auth_token">
                            </md-input-container>
                        </div>
                    </md-content>

                    <md-content ng-show="message.text.length > 0" layout layout-align="center center">
                        <p class="md-title">{{ message.type }}: {{ message.text }}</p>
                    </md-content>

                    <md-button class="md-raised md-primary" ng-click="fetch(params, rows)" ng-disabled="!rows.length > 0">Query</md-button>

                    <md-content layout-padding layout="column" ng-show="hotelsCount > 0">
                        <md-list flex>
                            <md-subheader class="md-no-sticky">QUERY RESULTS:</md-subheader>
                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text" layout="column">
                                    <p class="md-subhead">Hotels: {{ hotelsCount }}</p>
                                    <p class="md-subhead">Multi-Property Rooms: {{ multiCount }}</p>
                                    <p class="md-subhead">Single Property Rooms: {{ singleCount }}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>

                    <md-card ng-show="res.hotelName" ng-repeat="res in results">
                        <md-card-header>
                            <md-card-header-text>
                                <span class="md-headline">{{ hotelsCount = $index + 1 }}. {{ res.hotelName }}
                                    <span class="md-subhead">(id: {{ res.hotelId }})</span>
                                </span>
                            </md-card-header-text>
                        </md-card-header>

                        <md-card-content layout="column">
                            <md-card ng-show="res.rooms.length > 1">
                                <md-card-header>
                                    <md-card-header-text>
                                        <p class="md-headline">Check In Dates : {{ params.check_in | date:'MM/dd/yyyy' }} - {{ params.check_out
                                            | date:'MM/dd/yyyy' }}</p>
                                    </md-card-header-text>
                                </md-card-header>

                                <md-card-content layout="column">
                                    <md-list flex ng-repeat="room in res.rooms">
                                        <md-subheader class="md-no-sticky" ng-show="room.title">{{ room.title }} (id: {{ room.roomId }})</md-subheader>
                                        <md-content layout>
                                            <table class="table table-sm table-responsive table-striped table-bordered table-hover">
                                                <thead class="thead-inverse">
                                                    <tr>
                                                        <th>Request Type</th>
                                                        <th>Display Pricing</th>
                                                        <th>Rate Plan Code</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="rate in room.rates | orderBy: 'ratePlanCode'">
                                                        <td>{{ rate.requestType }}</td>
                                                        <td>{{ rate.displayPrice }}</td>
                                                        <td>{{ rate.ratePlanCode }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </md-content>
                                    </md-list>

                                    <md-divider></md-divider>
                                </md-card-content>
                            </md-card>
                        </md-card-content>
                    </md-card>
                </md-content>
            </md-tab>

            <md-tab label="">
                <md-content layout-padding>

                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script src="https://cdn.rawgit.com/abdmob/x2js/master/xml2json.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.3.6/papaparse.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>

    <script src="scripts/app.js"></script>

</body>
</html>