<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>API Test</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <link rel="stylesheet" href="styles/app.css">
</head>

<body ng-app="MyApp" ng-cloak>

    <md-content ng-controller="MyCtrl">
        <md-tabs md-dynamic-height="" md-border-bottom="">

            <md-tab label="multi-property">
                <md-content class="md-padding" layout="column">
                    <md-content layout-gt-xs="row">
                        <div flex-gt-xs>
                            <h4>Check-In Date</h4>
                            <md-datepicker ng-model="params.check_in"></md-datepicker>
                        </div>
                        <div flex-gt-xs>
                            <h4>Check-Out Date</h4>
                            <md-datepicker ng-model="params.check_out"></md-datepicker>
                        </div>
                    </md-content>

                    <md-button class="md-raised md-primary" ng-click="multiFetch(params)">Query</md-button>
                    
                    <md-card class="md-padding" ng-show="multiFetchUrl">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline" ng-show="multiFetchUrl" ng-hide="json">Sending request...</span>
                                <span class="md-headline" ng-show="json">Request sent!</span>
                                <span class="md-subhead">{{ multiFetchUrl }}</span>
                            </md-card-title-text>
                        </md-card-title>

                        <md-card-content class="md-padding" ng-show="multiFetchUrl">
                            <span>XML</span>
                            <pre>{{ xml }}</pre>

                            <span>JSON</span>
                            <p>{{ json }}</p>
                        </md-card-content>
                    </md-card>

                    <md-card ng-show="results" ng-repeat="res in results">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{ res.room.title.__text }}</span>
                                <span class="md-subhead">Hotel ID: {{ res.room['hotel-id'] }}</span>
                            </md-card-title-text>
                        </md-card-title>
                    </md-card>
                </md-content>
            </md-tab>

            <md-tab label="single-property">
                <md-content class="md-padding">

                </md-content>
            </md-tab>

            <md-tab label="pre-book">
                <md-content class="md-padding">

                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script src="https://cdn.rawgit.com/abdmob/x2js/master/xml2json.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>

    <script src="scripts/app.js"></script>

</body>

</html>