<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>API Test</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <link rel="stylesheet" href="styles/app.css">
</head>

<body ng-app="MyApp" ng-cloak>
    <md-content ng-controller="MyCtrl">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2 flex md-truncate>This page needs to have CORS enabled.</h2>

                <md-button class="md-raised" target="_blank" ng-href="https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi">
                    Install Allow-Control-Allow-Origin: *
                    <md-tooltip>Needs to have CORS enabled.</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>

        <md-tabs md-dynamic-height="" md-border-bottom="">

            <md-tab label="data">
                <md-content class="md-padding">
                    <div layout="column" layout-align="center center">
                        <md-button flex class="md-raised md-primary" ng-click="listProperties()">Refresh Properties</md-button>
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th ng-repeat='c in fields'>{{ c | uppercase }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat='r in rows'>
                                        <td ng-repeat='c in fields'>
                                            {{ r[c] }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </md-content>
            </md-tab>

            <md-tab label="properties">
                <md-content class="md-padding" layout="column">
                    <md-content layout-gt-xs="row">
                        <div flex-gt-xs>
                            <h4>Check-In Date</h4>
                            <md-datepicker ng-model="params.check_in"></md-datepicker>
                        </div>
                        <div flex-gt-xs>
                            <h4>Check-Out Date</h4>
                            <md-datepicker ng-model="params.check_out"></md-datepicker>
                        </div>
                    </md-content>

                    <md-button class="md-raised md-primary" ng-click="fetch(params, rows)">Query</md-button>
                    <md-card ng-repeat="row in rows">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{ row.name }}</span>
                                <span class="md-subhead">Hotel ID: {{ row.id }}</span>
                            </md-card-title-text>
                        </md-card-title>

                        <md-card-content>
                            <md-card ng-show="results" ng-repeat="res in results">
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">{{ res.room.title.__text }}</span>
                                    </md-card-title-text>
                                </md-card-title>

                                <md-card-content layout="column">
                                    <span>Check In: {{ params.check_in | date:'MM/dd/yyyy'}}</span>
                                    <span>Check Out: {{ params.check_out | date:'MM/dd/yyyy'}}</span>
                                    <md-divider></md-divider>
                                    <span class="md-subhead">Hotel ID: {{ res.room['hotel-id'] }}</span>
                                    <span class="md-subhead">Room ID: {{ res.room['room-id'] }}</span>
                                    <span class="md-subhead">Rate Plan Code: {{ res['rate-plan-code'] }}</span>
                                    <span class="md-subhead">Multi-Property Rate: {{ res['display-pricing'].total }}</span>
                                    <span class="md-subhead">Single Property Rate: {{ single['display-pricing'].total }}</span>
                                </md-card-content>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button ng-click="singleFetch(params, res.room['hotel-id'])">Single Property</md-button>
                                </md-card-actions>
                            </md-card>
                        </md-card-content>
                    </md-card>
                </md-content>
            </md-tab>

            <md-tab label="xml">
                <md-content class="md-padding">
                    <div class="md-padding" ng-show="multiFetchUrl">
                        <span>XML</span>
                        <pre>{{ xml }}</pre>
                    </div>
                </md-content>
            </md-tab>

            <md-tab label="json">
                <md-content class="md-padding">
                    <div class="md-padding" ng-show="multiFetchUrl">
                        <span>JSON</span>
                        <p>{{ json }}</p>
                    </div>
                </md-content>
            </md-tab>

            <md-tab label="">
                <md-content class="md-padding">

                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script src="https://cdn.rawgit.com/abdmob/x2js/master/xml2json.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.3.6/papaparse.js"></script>

    <script src="scripts/app.js"></script>

</body>

</html>