<md-content layout-padding>
  <div layout="column">
    <md-subheader class="md-primary">Request Logs</md-subheader>
    <md-checkbox ng-model="showLogs" ng-init="showLogs = false">
      <span class="md-caption">Show All ({{ queryLogs.length }} logs found.)</span>
    </md-checkbox>
  </div>

  <md-list class="md-dense log-item" flex>
    <md-list-item ng-if="!showLogs" ng-repeat="log in queryLogs | limitTo: -1" ng-class="{errorFound: log.type == 'Error', success: log.type == 'Success'}">
      <p class="md-caption log-item">{{ log.title }}: {{ log.message }}</p>
    </md-list-item>

    <md-list-item class="log-item" ng-if="showLogs" ng-repeat="log in queryLogs" ng-class="{errorFound: log.type == 'Error', success: log.type == 'Success'}">
      <p class="md-caption log-item">{{ log.title }}: {{ log.message }}</p>
    </md-list-item>
  </md-list>
</md-content>
