<md-content layout-padding layout="column">
  <md-button class="md-raised md-primary" ng-click="fetch(params, rows)" ng-disabled="!rows.length > 0">Query</md-button>

  <md-switch md-invert ng-model="hasRooms" ng-init="hasRooms = true">
    <span class="md-subhead">Show only hotels with response</span>
  </md-switch>

  <md-button class="md-icon-button md-primary" ng-click="export(results)" ng-show="queryComplete">
    <md-icon class="material-icons">view_list</md-icon>
  </md-button>

  <md-card ng-show="((hasRooms && res.rooms.length > 1) || !hasRooms) && queryComplete" ng-repeat="res in results" ng-init="hotelIndex = $index">
    <md-card-header>
      <md-card-header-text layout="column" ng-class="{success: res.rooms.length > 1}">
        <div layout>
          <md-button class="md-icon-button md-accent" title="Expand" ng-click="roomHide = !roomHide" ng-show="res.rooms.length > 1">
            <md-icon class="material-icons">expand_more</md-icon>
          </md-button>
          <span class="md-headline" title="Click on button to see more">{{ hotelIndex + 1 }}. {{ res.hotelName }} ({{ res.rooms.length }} rooms found)</span>
        </div>
        <span class="md-subhead">id: {{ res.hotelId }}</span>
      </md-card-header-text>
    </md-card-header>

    <md-card-content layout="column">
      <md-card ng-show="roomHide">
        <md-card-header>
          <md-card-header-text>
            <p class="md-headline">Check In Dates : {{ params.check_in | date:'MM/dd/yyyy' }} - {{ params.check_out | date:'MM/dd/yyyy' }}</p>
          </md-card-header-text>
        </md-card-header>

        <md-card-content layout="column">
          <md-list class="md-dense" flex ng-repeat="room in res.rooms" ng-init="roomIndex = $index">
            <md-subheader class="md-no-sticky" ng-show="room.title">
              <md-button class="md-icon-button md-primary" title="Show {{ room.rates.length }} rates" ng-click="rateHide = !rateHide" ng-show="room.rates.length > 0">
                <md-icon class="material-icons">view_list</md-icon>
              </md-button>
              <md-button class="md-icon-button md-accent" ng-href="{{ room.url }}" target="_blank" title="Open landing page">
                <md-icon class="material-icons">open_in_new</md-icon>
              </md-button>
              <span class="md-subhead">{{ roomIndex + 1 }}. {{ room.title }} (id: {{ room.roomId }}) -- {{ room.rates.length }} rates found.</span>
            </md-subheader>

            <div ng-show="rateHide">
              <md-list-item class="md-2-line md-long-text">
                <div class="md-list-item-text" layout="column">
                  <span class="md-caption">Description:</span>
                  <p>{{ room.description }}</p>
                </div>
              </md-list-item>
              <md-content layout>
                <table class="table table-sm table-responsive table-striped table-bordered table-hover">
                  <thead class="thead-inverse">
                    <tr>
                      <th>Request Type</th>
                      <th>Display Pricing</th>
                      <th>Rate Plan Code</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="rate in room.rates | orderBy: 'ratePlanCode'">
                      <div>
                        <td>{{ rate.requestType }}</td>
                        <td>{{ rate.displayPrice }}</td>
                        <td>{{ rate.ratePlanCode }}</td>
                      </div>
                    </tr>
                  </tbody>
                </table>
              </md-content>
            </div>
          </md-list>
          <md-divider></md-divider>
        </md-card-content>
      </md-card>
    </md-card-content>
  </md-card>
</md-content>
