html {
  background: #eee;
}

body {
  line-height: 1.4;
  max-width: 1200px;
  margin: 20px auto;
}

table {
  white-space: nowrap
}

.success {
  color: #258d3f;
}

.errorFound {
  color: #b62a2a;
}
